{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form id="run_command" method="post" action="{% url 'run_command' %}">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Update">
    </form>
    <form class="col-md-6" method="get" action="{% url 'hotel_list' %}">
        <label for="city-select">Select a city:</label>
        <select class="form-control" id="city-select" name="city">
            {% for city in cities %}
                <option value="{{ city.name }}">{{ city.name }}</option>
            {% endfor %}
        </select>
        <br>
        <button class="btn btn-primary" type="submit">View hotels</button>
    </form>

    {%if status%}
    <h2>{{ status }}</h2>
    {% endif %}
</div>

{% endblock %}