<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<div class="jumbotron">
    <h1 class="text-center display-4">Find a hotel</h1>
</div>


<div class="container">
    <form id="run_command" method="post" action="{% url 'run_command' %}">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Update">
    </form>
    {%if status%}
    <h2>{{ status }}</h2>
    {% endif %}
    <div class="row">
        <form class="col-md-6">
            <label for="id_city">Select a city:</label>
            <select id="id_city" name="city" class="form-control">
                <option value=""></option>
                {% for city in cities %}
                <option value="{{ city.id }}">{{ city.name }}</option>
                {% endfor %}
            </select>
        </form>
        <div class="col-md-6">
            <ul id="hotels-list"></ul>
        </div>
    </div>
   
</div>



<div id="hotels-list">
</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).ready(function(){
    $('#id_city').change(function(){
        var city_id = $(this).val();
        $.ajax({
            url: '/get_hotels/',
            data: {
                'city_id': city_id
            },
            dataType: 'json',
            
            success: function (data) {
                var hotels_list = document.getElementById('hotels-list');
                hotels_list.classList.add('row');
                
                var hotels = data.hotels;

                // Insert the data into the table
                for (var i = 0; i < hotels.length; i++) {
                    var hotel = hotels[i];

                    // create a div to hold each hotel's info
                    var hotelDiv = document.createElement('div');
                    hotelDiv.classList.add('col-lg-4', 'col-md-6', 'mb-4');
                    hotels_list.appendChild(hotelDiv);

                    // create the image element
                    var image = document.createElement('img');
                    image.src = hotel.image_url;
                    image.classList.add('img-fluid');
                    hotelDiv.appendChild(image);

                    // create the name element
                    var name = document.createElement('h4');
                    name.textContent = hotel.name;
                    hotelDiv.appendChild(name);

                    // create the description element
                    var description = document.createElement('p');
                    description.textContent = hotel.description;
                    hotelDiv.appendChild(description);

                    // create the price element
                    var price = document.createElement('p');
                    price.textContent = 'Price: ' + hotel.price;
                    hotelDiv.appendChild(price);
                }
            }
        });
    });
});
</script>