{% extends 'base.html' %}

{% block content %}
  <h1>Confirmation</h1>
  <form method="post" action="{% url 'confirm_reservation' %}">
    {% csrf_token %}
    <input type="hidden" name="room" value="{{ reservation.room.id }}">
    <input type="hidden" name="checkin" value="{{ reservation.checkin }}">
    <input type="hidden" name="checkout" value="{{ reservation.checkout }}">
    <label for="firstname">First Name:</label>
    <input type="text" name="firstname" id="firstname" required>
    <br><br>
    <label for="lastname">Last Name:</label>
    <input type="text" name="lastname" id="lastname" required>
    <br><br>
    <label for="email">Email Address:</label>
    <input type="email" name="email" id="email" required>
    <br><br>
    <label for="address">Address:</label>
    <input type="text" name="address" id="address" required>
    <br><br>
    <label for="country">Country:</label>
    <input type="text" name="country" id="country" required>
    <br><br>
    <label for="zipcode">Zip Code:</label>
    <input type="text" name="zipcode" id="zipcode" required>
    <br><br>
    <input type="checkbox" name="terms" id="terms" required>
    <label for="terms">I agree to the <a href="{% url 'terms_and_conditions' %}">terms and conditions</a></label>
    <br><br>
    <p>Total price: ${{ reservation.price }}</p>
    <input type="submit" value="Confirm Reservation">
  </form>
{% endblock %}
