{% extends 'base.html' %}

{% block content %}
  <h1>Confirm you stay at {{hotel.name}}</h1>
  <form method="post">
    {% csrf_token %}
    <br><br>
    <label name="room" value="{{ room.name }}"> Room type: {{room.name}}</label>
    <br>
    <label value="{{ reservation.id }}">Reservation id: {{ reservation.id }}</label>
    <br>
    <label value="{{ reservation.check_in }}">Your stay is from {{ reservation.check_in }} until {{ reservation.check_out }}</label>
    <br><br><br>
    {{ form.as_p }}
    <p>Total price: ${{ reservation.price }}</p>
    <button href="#" class="btn btn-primary" type="submit">Confirm</button>
  </form>
{% endblock %}