{% extends 'base.html' %}

{% block content %}
  <h1>Confirmation</h1>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="room" value="{{ reservation.id }}">
    <input type="hidden" name="checkin" value="{{ reservation.check_in }}">
    <input type="hidden" name="checkout" value="{{ reservation.check_out }}">
    <label for="firstname">First Name:</label>
    {{ form.first_name }}
    <br><br>
    <label for="lastname">Last Name:</label>
    {{ form.last_name }}
    <br><br>
    <label for="email">Email Address:</label>
    {{ form.email }}
    <br><br>
    <label for="address">Address:</label>
    {{ form.address }}
    <br><br>
    <label for="country">Country:</label>
    {{ form.country }}
    <br><br>
    <label for="zipcode">Zip Code:</label>
    {{ form.zip_code }}
    <br><br>
    <input type="checkbox" name="agreement" id="agreement" required>
    <label for="terms">I agree to the <a href="{% url 'terms_and_conditions' %}">terms and conditions</a></label>
    <br><br>
    <p>Total price: ${{ reservation.price }}</p>
    <input type="submit" value="Confirm Reservation">
  </form>
{% endblock %}
