{% extends 'base.html' %}

{% block content %}
  <h1> Order your stay at {{hotel.name}}</h1>
  <br>
  <br>
  <h3>Reservation</h3>
  <form id="ReservationForm" method ='POST'>
    {% csrf_token %}
    <label for="rooms">Selected room:</label>
    <label value="{{ room.id }}">{{ room.name }}</label>
    <br><br>
    <label for="price">Price per night:</label>
    <label value="{{ room.id }}">{{ room.price }}</label>
    <br><br>
    {{ form.as_p }}
    <a href="#" class="btn btn-primary" type= "submit">Continue</a>
  </form>

{% endblock %}
